<include file="Public/min-header" />
<div class="wrapper">
	<include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	             <div class="box-header">
	               	<nav class="navbar navbar-default">	     
				        <div class="collapse navbar-collapse">
				          <form class="navbar-form form-inline" action="{:U('Dish/manageList')}" method="post">
							  <if condition="$cid_str != ''">
				             <div class="form-group">
				            	 <select name="store_id" class="form-control">
                                      <volist name="store_data" id="i" key="k">
                                            <option value="{$i.id}" <if condition="$i[id] eq $store_id"> selected="selected" </if> >{$i.name}</option>
                                      </volist>                  
                                 </select>   
				            </div>
								  </if>
							  <div class="form-group">
				            	 <select name="sort_id" class="form-control">
                                            <option value="0">==查看所有==</option>
                                      <volist name="sort_list" id="item" key="k">
                                            <option value="{$item.id}" <if condition="$item[id] eq $sort_id"> selected="selected" </if> >{$item.name}</option>
                                      </volist>
                                 </select>
				            </div>
				            <button type="submit" class="btn btn-primary">查询</button>
				            <div class="form-group pull-right">
				            </div>
				          </form>
				      	</div>
	    			</nav>

	             </div>
	             <div class="box-body">
	           	 <div class="row">
	            	<div class="col-sm-12">
		              <table id="list-table" class="table table-bordered table-striped dataTable">
						  <if condition="$cid_str == ''">
							  该账户下面没有任何餐厅……
							  <else />
						  <thead>
		                   <tr role="row">
							   <th>蛋糕id</th>
			                   <th>蛋糕名称</th>
			                   <th>售卖价格</th>
			                   <th>优惠价格</th>
			                   <th>满减价格</th>
			                   <th>是否上架</th>
			                   <th>是否热卖</th>
		                  	   <th>排序</th>
		                  	   <th>操作</th>
		                   </tr>
		                 </thead>
						<tbody>
                          <foreach name="list" item="vo" key="k" >
                             <tr role="row">    
                                 <td>{$vo.id}</td>
                                <td>{$vo.dish_name}</td>
                                <td><php>echo getNormalPrice($vo['price'])</php></td>
                                <td><php>echo getNormalPrice($vo['cake_low_price'])</php></td>
                                <td>
									<php>
										echo '满'. getNormalPrice($vo['cake_full_price']).'元 送';
										echo getNormalPrice($vo['cake_give_price']).'元';
									</php>
								</td>
		                     <td>
                                         <img width="20" height="20" src="__PUBLIC__/images/<if condition='$vo[is_up] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('dish_to_store_restaurant','id','{$vo.id}','is_up',this)"/>
		                     </td>
								 <td>
									 <img width="20" height="20" src="__PUBLIC__/images/<if condition='$vo[is_hot] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('dish_to_store_restaurant','id','{$vo.id}','is_hot',this)"/>
								 </td>
		                     <td>
                                        <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onchange="updateSort('dish_to_store_restaurant','id','{$vo.id}','sort',this)" size="4" value="{$vo.sort}" class="input-sm" />
		                     </td>
		                     <td>
		                      <a class="btn btn-primary" href="{:U('Dish/manageAddEdit',array('act'=>'edit','id'=>$vo['id']))}"><i class="fa fa-pencil"></i></a>
		                             </td>
		                   </tr>
		                  </foreach>

		                   </tbody>
		                 <tfoot>
		                 
		                 </tfoot>
						  </if>
		               </table>
	               </div>
	          </div>
              <div class="row">
              	    <div class="col-sm-6 text-left">
              	    	<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
              	    </div>
                    <div class="col-sm-6 text-right">{$page}</div>		
              </div>
	          </div>
	        </div>
       	</div>
       </div>
   </section>
<script>

</script>
</div>
</body>
</html>   
