<include file="Public/min-header"/>
<div class="wrapper">
  <include file="Public/breadcrumb"/>
  <section class="content">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> 地区开通列表</h3>
            <div class="box-header">
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <div class="navbar-form row">
                            <div class="col-md-10">
                                <!--<button class="btn bg-navy" type="button" onclick="tree_open(this);"><i class="fa fa-angle-double-down"></i>展开</button>
                            </div>
                            <div class="col-md-9">
                                <span class="warning">温馨提示：顶级分类（一级大类）设为推荐时才会在首页楼层中显示</span>-->
                            </div>
                            <div class="col-md-2">
                                <a href="{:U('Manage/area_new_add')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>新增地区</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="panel-body">    

                        
          <div id="ajax_return"> 
                 
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="sorting text-center">ID</th>
                                <th class="sorting text-center">省</th>
                                <th class="sorting text-center">市</th>

                                <th class="sorting text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="area_list" id="list" key="k">
                                <tr>
                                    <td class="text-center">{$k}</td>
                                    <td class="text-center">{$list.province}</td>
                                    <td class="text-center">{$list.city}</td>

                                    <td class="text-center">
                                        <a href="{:U('Admin/Manage/area_add',array('id'=>$list['id']))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:void(0);" onclick="del('{$list[id]}')" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                              </volist>
                            </tbody>
                        </table>
                    </div>
                
                <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">{$show}</div>
                </div>
          
          </div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </section>
  <!-- /.content --> 
</div>
<!-- /.content-wrapper --> 
 <script>
 // 删除操作 Admin/Manage/area_add
function del(id)
{
	if(!confirm('确定要删除吗?'))
		return false;		
		$.ajax({
			url:"/index.php?m=Admin&c=Manage&a=area_del&id="+id,
            dataType:'json',
            type:'get',
			success: function(v){
                layer.msg(v.msg, {icon: 2,time: 3000}); //alert(v.msg);
                location.href='{:U("Admin/Manage/area_list")}';

			},
            error:function(e){
                layer.msg('错误……', {icon: 2,time: 3000}); //alert(v.msg);
                location.href='{:U("Admin/Manage/area_list")}';
            }
		}); 
	 return false;
}
 

//修改指定表的指定字段值
function changeBrandField(field,id,obj)
{
 
     var isshow = $(obj).data('isshow');
     if(isshow == 1)
     {
         $(obj).data('isshow','0');    
         var value = 0;
         $(obj).attr('src','__PUBLIC__/images/cancel.png');
         
     }else{
         $(obj).data('isshow','1');
         var value = 1;
         $(obj).attr('src','__PUBLIC__/images/yes.png');
     }    
     
     $.ajax({
             url:'/index.php?m=Admin&c=goods&a=changeBrandField&field='+field+'&id='+id+'&value='+value,			
             success: function(data){					                                                                      
                     //  
             }
     });		
     
}
 </script>
</body>
</html>